<div class="card govco-card col-md-12">
  <div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm"
    [ngClass]="{'invalid-form' : invalidForm}">
    <div class="row card-header pt-0">
      <h3 class="m-0 title-section">Consulta por año y número de radicado</h3>
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="form-group-govco">Año *</label>
          <app-dropdownlist ngDefaultControl formControlName="anyo" placeholder="Seleccione" [items]="listaAnyo">
          </app-dropdownlist>
        </div>
        <div class="col-md-6 form-group select-govco">
          <label class="form-group-govco">Número de radicado *</label>
          <input class="form-control input-govco" formControlName="numero_radicado" maxlength="10" minlength="4"
            placeholder="Ej: 1 0 2 0 3 9 0 4 9" />
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class=" col-md-12 registro-consulta-footer">
        <button class="btn btn-round btn-middle" (click)="nueva_consulta()">NUEVA CONSULTA</button>
        <button id="save-user" class="btn btn-round btn-high" (click)="consultar()">CONSULTAR</button>
      </div>
    </div>
  </div>
  <div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm"
    [ngClass]="{'invalid-form' : invalidForm}">
    <div class="row card-header pt-0">
      <h3 class="m-0 title-section">Consulta por número y tipo de documento</h3>
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="form-group-govco">Tipo de documento *</label>
          <app-dropdownlist ngDefaultControl formControlName="tipoDocumento" placeholder="Seleccione"
            [items]="listaTipoDocumento">
          </app-dropdownlist>
        </div>

        <div class="col-md-6 form-group select-govco">
          <label class="form-group-govco">Número de documento *</label>
          <input class="form-control input-govco" formControlName="numeroDocumento" maxlength="10" minlength="4"
            placeholder="Ej: 1 0 2 0 3 9 0 4 9" />
        </div>
      </div>
    </div>
    <div [ngClass]="{'has-error':!seleccionForm.controls['anyo'].valid && seleccionForm.controls['anyo'].touched}">
      <span [hidden]="!seleccionForm.hasError('atLeastOne')" class="error">Diligencie una de las dos secciones del
        formulario para realizar la consulta.</span>
    </div>
    <div class="row mt-3">
      <div class=" col-md-12 registro-consulta-footer">
        <button class="btn btn-round btn-middle" (click)="nueva_consulta()">NUEVA CONSULTA</button>
        <button id="save-user" class="btn btn-round btn-high" (click)="consultar()">CONSULTAR</button>
      </div>
    </div>
  </div>
  <div>
  </div>
  <div *ngIf="show" class="body table-responsive">
    <app-tables [tableType]="'detail'" [hContent]="tDetail.Header" [bContent]="tDetail.Body"
      [hConfig]="tDetail.ConfigHeader" [bConfig]="tDetail.ConfigBody"></app-tables>
  </div>

</div>
