<div id="rut-container" class="row">

  <app-tramite-detail class="col-md-12" [name]="'rut'" [owner]="'dian'" [id]="'S001'">
  </app-tramite-detail>

  <div class="col-md-9 tramite-area">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-3 area-servicio">
    <govco-area-servicios module="TramitesNoSuit" itemid="S001" step="2"></govco-area-servicios>
    <app-btn-volver [tramite]="'ficha-tramites-y-servicios/S001'" [type]="'redirect'">
    </app-btn-volver>
  </div>
</div>