<div class="row" [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm" [ngClass]="{'invalid-form' : invalidForm}">
  <div class="card govco-card col-md-12">
    <div class="row card-header pt-0 pl-4">
      <div class="col-8 m-auto p-0">
        <h3 class="m-0 title-section">Datos persona Jurídica</h3>

      </div>
      <div class="col-4">
        <a class="btn-symbolic-govco d-flex">
        </a>
      </div>
    </div>
    <div class="card-body pt-0 pl-2">
      <div class="row">
        <div class="col-md-6 form-group select-govco">
          <label class="form-group-govco">Tipo de documento *</label>
          <input class="form-control input-govco" formControlName="tipo_documento"  disabled  placeholder="Ej: 1 0 2 0 3 9 0 4 9" />
        </div>
        <div class="col-md-6 form-group select-govco">
          <label class="form-group-govco">Número documento *</label>
          <input class="form-control input-govco" formControlName="numero_documento"  disabled  placeholder="Ej: 1 0 2 0 3 9 0 4 9" />
        </div>
        <div class="col-md-6 form-group select-govco">
          <label class="form-group-govco">Digito de verificación</label>
          <app-dropdownlist ngDefaultControl formControlName="digitoVerificacion" placeholder="Seleccione" (ngModelChange)="caculardv()"
                            [items]="listaDigitoverificacion">
          </app-dropdownlist>
        </div>
        <div class="col-md-6 form-group">
          <label for="razon_social" class="form-group-govco">Razon social *</label>
          <input id="razon_social" class="form-control input-govco" minlength="2" maxlength="25" oninput="this.value=this.value.toUpperCase()" formControlName="razon_social" placeholder="Ej: Empresa S.A.S" />
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label  class="form-group-govco">Tipo de Empresa *</label>
          <app-dropdownlist ngDefaultControl formControlName="tipo_empresa" placeholder="Seleccione"
                            [items]="listaEmpresa">
          </app-dropdownlist>
        </div>
        <div class="col-md-6 form-group" *ngIf="seleccionForm.value.tipo_empresa.value == 'PR'">
          <label  class="form-group-govco">Tipo de Empresa Privada*</label>
          <app-dropdownlist ngDefaultControl formControlName="tipo_empresa_privada" placeholder="Seleccione"
                            [items]="listaEmpresaPrivada">
          </app-dropdownlist>
        </div>
      </div>

        <div class="row">

        <div class="col-md-6 form-group select-govco"  *ngIf="seleccionForm.value.tipo_empresa_privada.value == 'OT'">
          <label class="form-group-govco">Otro tipo de empresa *</label>
          <input class="form-control input-govco" formControlName="otro_tipo_empresa"
                 placeholder="Ej: descripcion" />
        </div>
          <div class="col-md-6 form-group select-govco">
            <label class="form-group-govco">Descripcion *</label>
            <input class="form-control input-govco" formControlName="descripcion"
                   placeholder="Ej: descripcion" />
          </div>

      </div>

      <div class="area-note-selago mt-5">
        <strong class="title">Importante</strong><br>
        <i class="content">A esta dirección serán enviados todos los comunicados
          relacionados con los trámites que realice.</i>
      </div>

      <div class="row mt-3" *ngIf="mostrarDireccion">
        <div class="col-md-6 col-lg-6 form-group">
          <label class="form-group-govco">Dirección de Correspondencia *</label>
          <div *ngIf="mostrarDireccion">{{direccionCorrespondencia}}</div>
          <div *ngIf="!mostrarDireccion" class="d-flex">
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="form-group-govco">Información complementaria *</label>
          <div *ngIf="mostrarDireccion">{{informacionComplementaria}}</div>
        </div>
      </div>

      <br>
      <div *ngIf="!mostrarDireccion" class="row mb-3">
        <div class="col-md-5 direccion-inline pr-1 mt-3">
          <div class="pw-25 mr-2">
            <app-dropdownlist ngDefaultControl
                              formControlName="calle_cra"
                              [items]="listaCalleCarrera"
                              (change) = "agregarDireccionDefinitiva()">
            </app-dropdownlist>
          </div>
          <div class="pw-30 mr-2">
            <input class="form-control input-govco"
                   formControlName="primer_valor_calle_cra"
                   placeholder="000"
                   maxlength="3"
                   (focusout) = "agregarDireccionDefinitiva()" />
          </div>
          <div class="pw-25 mr-2">
            <app-dropdownlist ngDefaultControl formControlName="calle_letra"
                              [items]="listaCalleLetra" (change) = "agregarDireccionDefinitiva()">
            </app-dropdownlist>
          </div>
          <div class="pw-25 mr-2">
            <app-dropdownlist ngDefaultControl
                              formControlName="calle_bis"
                              [items]="listaBis"
                              (change) = "agregarDireccionDefinitiva()">
            </app-dropdownlist>
          </div>
        </div>
        <div class="col-md-2 direccion-inline pr-1 mt-3">
          <div class="pw-50 mr-2">
            <app-dropdownlist ngDefaultControl
                              formControlName="calle_bis_letra"
                              [items]="listaCalleLetra"
                              (change) = "agregarDireccionDefinitiva()">
            </app-dropdownlist>
          </div>
          <div class="pw-50 mr-2">
            <app-dropdownlist ngDefaultControl
                              formControlName="calle_sufijo"
                              [items]="listaSufijoCardinal"
                              (change) = "agregarDireccionDefinitiva()">
            </app-dropdownlist>
          </div>
        </div>
        <div class="col-md-5 direccion-inline pr-1 mt-3">
          <label class="m-auto pr-2">#</label>
          <div class="pw-25 mr-2">
            <input class="form-control input-govco"
                   formControlName="segundo_valor_calle_cra"
                   placeholder="000"
                   maxlength="3"
                   (focusout) = "agregarDireccionDefinitiva()"/>
          </div>
          <div class="pw-25 mr-2">
            <app-dropdownlist ngDefaultControl
                              formControlName="calle_letra_segundo"
                              [items]="listaCalleLetra"
                              (change) = "agregarDireccionDefinitiva()">
            </app-dropdownlist>
          </div>

          <label class="m-auto pr-2">-</label>
          <div class="pw-25 mr-2">
            <input class="form-control input-govco"
                   formControlName="tercer_valor_calle_cra"
                   placeholder="000" maxlength="3"
                   (focusout) = "agregarDireccionDefinitiva()"/>
          </div>
          <div class="pw-25 mr-2">
            <app-dropdownlist ngDefaultControl
                              formControlName="calle_sufijo_tercer"
                              [items]="listaSufijoCardinal"
                              (change) = "agregarDireccionDefinitiva()">
            </app-dropdownlist>
          </div>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="!mostrarDireccion">
        <div *ngIf="mostrarDireccion">Ej: Edificio Bávaro, apto 504 torre 2</div>
        <div class="col-md-5 form-group" *ngIf="!mostrarDireccion">
          <label class="form-group-govco">Información complementaria *</label>
          <app-dropdownlist ngDefaultControl formControlName="informacion_complementaria"
                            placeholder="Ej: Piso, Oficina, Apto, Torre" [items]="listaInformacionComplementaria">
          </app-dropdownlist>
        </div>

        <div class="col-md-5 form-group" *ngIf="!mostrarDireccion">
          <label class="form-group-govco">Máximo 2 Complementos</label>
          <input class="form-control input-govco" formControlName="informacion_complementaria2"
                 placeholder="" />
        </div>

        <div class="col-md-2 form-group align-right" style="padding: 37px 1.5%;" *ngIf="!mostrarDireccion">
          <a (click)="agregarComplementos()" class="align-right btn-low">Agregar</a>
        </div>
      </div>
      <div class="row" *ngIf="!mostrarDireccion">
        <div class="col-md-12 form-group">
          <label class="form-group-govco">Dirección definitiva</label>
          <input class="form-control input-govco" formControlName="direccion_definitiva" />
        </div>
      </div>


      <div class="align-right" *ngIf="mostrarDireccion">
        <a (click)="OcultarDireccion()" class="btn-low">Cambiar Dirección</a>
      </div>
      <div class="align-right" *ngIf="!mostrarDireccion">
        <a (click)="limpiarDireccion()" class="btn-low separate">Limpiar</a>
        <a (click)="guardarDireccionDefinitiva()" class="btn-low">Guardar</a>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 form-group">
          <label  class="form-group-govco">Teléfono fijo y extensión</label>
          <input class="form-control input-govco" minlength="7" maxlength="10" formControlName="telefono_fijo"
                 placeholder="Ej: 031 6228108" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="form-group-govco">Teléfono celular *</label>
          <input class="form-control input-govco" minlength="1" maxlength="10" formControlName="celular" placeholder="Ej: 300 382 2704" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label  class="form-group-govco">Fax</label>
          <input class="form-control input-govco" minlength="7" maxlength="10" formControlName="fax" placeholder="Ej: 0000000" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="pais" class="form-group-govco">País *</label>
          <app-dropdownlist id="pais" ngDefaultControl (change)="cargarListaDepartamento()" formControlName="pais"
                            placeholder="Seleccione" [items]="listaPais">
          </app-dropdownlist>
        </div>
        <div class="col-md-6 form-group">
          <label for="departamento" class="form-group-govco">Departamento *</label>
          <app-dropdownlist id="departamento" ngDefaultControl (change)="cargarListaCiudad()" formControlName="departamento"
                            placeholder="Seleccione" [items]="listaDepartamento">
          </app-dropdownlist>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="ciudad" class="form-group-govco">Ciudad *</label>
          <app-dropdownlist id="ciudad" ngDefaultControl formControlName="ciudad" placeholder="Seleccione"
                            [items]="listaCiudad">
          </app-dropdownlist>
        </div>
      </div>


      <div class="area-note-selago"> <strong class="title">Importante</strong><br>
        <i class="content">La dirección de correo electrónico permite que la
          Superintendencia de Industria y Comercio tenga un medio de comunicación más directo con usted, por
          ese
          motivo ingrese un correo electrónico válido donde recibir las comunicaciones de la SIC.</i>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="correo" class="form-group-govco">Correo electrónico *</label>
          <input id="correo" class="form-control input-govco" formControlName="correo" placeholder="Ej:correo@mail.com" />
        </div>
      </div>
    </div>

  </div>
  <div class="card govco-card main-invima-advice col-md-12">
    <div class="card-body">
      <div class="row">
        <label> Aviso de privacidad y autorización para el <strong><u>tratamiento de datos
          personales</u></strong>
          trámites en el SITAC del MRE</label>
      </div>
      <div class="row">
        <div id="checkbox-active">
          <label class="checkbox-govco">
            <input formControlName="selector" type="checkbox" id="checkbox_simple_solo" />
            <label for="checkbox_simple_solo">Consiento que mis datos personales sean transferidos en los términos que
              señala el presente aviso de privacidad *</label>
            <div class="chk-govco__indicator"></div>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row recaptcha-container">
            <div class="form-group">
              <re-captcha formControlName="recaptcha"></re-captcha>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-12 registro-consulta-footer">
          <button class="btn btn-round btn-middle wb-150" (click)="limpiar()">LIMPIAR</button>
          <button id="save-user" class="btn btn-round btn-high" (click)="siguiente()">SIGUIENTE PASO</button>
        </div>
      </div>
    </div>
  </div>


</div>
