<div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm" [ngClass]="{'invalid-form' : invalidForm}">
    <div class="col-12" *ngIf="invalidForm">
        <app-notifications class="col-12" [typeMessage]="'error'" [message]="busquedavacia" [title]="'Lo sentimos'"
            [show]="invalidForm"></app-notifications>
    </div>
    <div class="card govco-card col-md-12">
        <div class="row card-header pt-0">
            <div class="col-8 m-auto p-0">
                <h3 class="m-0 title-section">Restablecer contraseña</h3>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="card-body pt-2">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="nuevo_password">Nueva contraseña</label>
                    <input id="nuevo_password" class="form-control input-govco" formControlName="nuevo_password" />
                </div>
                <div class="col-md-6 form-group">
                    <label for="repetir_password">Repetir contraseña</label>
                    <input id="repetir_password" class="form-control input-govco" formControlName="repetir_password" />
                </div>
            </div>
            <div class="mt-3 area-note-selago">
                <strong class="title">Importante</strong><br>
                <em class="content">
                    Ten en cuenta caracteres especiales, mayusculas o
                    números a la hora de ingresar la contraseña
                </em>
            </div>
            <div class="row mt-3">
                <div class=" col-md-12 registro-consulta-footer">
                    <button id="save-user" class="btn btn-round btn-high" (click)="enviarPass()">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
