<div class="card-header pt-0">
    <h3 class="title-section">Datos persona natural</h3>
</div>
<div class="card-body pt-0">
    <div class="col-12">
        <div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm"
            [ngClass]="{'invalid-form' : invalidForm}">
            <div class="row">
                <div class="col-md-6 form-group select-govco">
                    <label class="normal-font"  >Tipo de documento</label>
                    <app-dropdownlist ngDefaultControl formControlName="tipo_documento" (change)="setValidator()"
                        placeholder="Ingrese un valor" [items]="listaTipoDocumento">
                    </app-dropdownlist>
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font" >Número de documento</label>
                    <input class="form-control input-govco" minlength="4" maxlength="15" (change)="GetPersona()"
                        formControlName="numero_documento" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font">Primer nombre *</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25" formControlName="primer_nombre"
                        oninput="this.value=this.value.toUpperCase()" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font">Segundo nombre</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25"
                        formControlName="segundo_nombre" oninput="this.value=this.value.toUpperCase()" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font" >Primer apellido *</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25"
                        formControlName="primer_apellido" oninput="this.value=this.value.toUpperCase()" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font">Segundo apellido</label>
                    <input class="form-control input-govco" minlength="2" maxlength="25"
                        formControlName="segundo_apellido" oninput="this.value=this.value.toUpperCase()" />
                </div>
            </div>
          <div class="card-body pt-0 pl-2 alert-warning pt-3" *ngIf="proteccionDatos==true">
            <p class="text-light">Los datos personales del apoderado han sido ocultos en cumplimiento de la Ley de Protección de Datos Personales</p>
          </div>
          <div class="card-body pt-0 pl-2" *ngIf="proteccionDatos==false">

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="normal-font">Dirección de correspondencia *</label>
                    <input class="form-control input-govco" maxlength="100" formControlName="direccion" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font" >Teléfono fijo</label>
                    <input class="form-control input-govco" minlength="7" maxlength="10"
                        formControlName="telefono_fijo" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="normal-font">Teléfono celular</label>
                    <input class="form-control input-govco" minlength="1" maxlength="10" formControlName="celular" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="normal-font">Fax</label>
                    <input class="form-control input-govco" minlength="7" maxlength="10" formControlName="fax" />
                </div>
                <div class="col-md-6 form-group select-govco mb-3">
                    <label class="normal-font">País *</label>
                    <app-dropdownlist ngDefaultControl (change)="cargarListaDepartamento()" formControlName="pais"
                        placeholder="Ingrese un valor" [items]="listaPais">
                    </app-dropdownlist>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group select-govco mb-3">
                    <label class="normal-font">Departamento *</label>
                    <app-dropdownlist ngDefaultControl (change)="cargarListaCiudad()" formControlName="departamento"
                        placeholder="Ingrese un valor" [items]="listaDepartamento">
                    </app-dropdownlist>
                </div>
                <div class="col-md-6 form-group select-govco mb-3">
                    <label class="normal-font">Ciudad *</label>
                    <app-dropdownlist ngDefaultControl formControlName="ciudad" placeholder="Ingrese un valor"
                        [items]="listaCiudad">
                    </app-dropdownlist>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="normal-font">Correo electrónico *</label>
                    <input class="form-control input-govco" minlength="4" maxlength="100" formControlName="correo"
                        maxlength="100" minlength="4" />
                </div>
            </div>
        </div>
            <div class="row">
              <p>* Si desea cambiar los datos del denunciado dar clic en limpiar.</p>

              <div class=" col-md-12 registro-consulta-footer">
                <a class="btn btn-round btn-middle"
                   (click)="limpiar()">Limpiar</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-round btn-middle"
                        (click)="accion_anterior()">ANTERIOR</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-round btn-high" (click)="siguiente()">CONTINUAR</a>
                </div>
            </div>

        </div>
    </div>
</div>
