<div class="row">
    <div class="col-12 pb-3" *ngIf="true">
        <app-notifications [typeMessage]="'success'" [show]="showMensaje" [message]="prueba"
            [title]="'Enlace enviado al correo'">
        </app-notifications>
    </div>
</div>
<div class="card govco-card col-md-12">
    <div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm" [ngClass]="{'invalid-form' : invalidForm}">
        <div class="row card-header pt-0">
            <div class="col-8 m-auto p-0">
                <h3 class="m-0 title-section">Registro de Nuevo Usuario</h3>
            </div>
            <div class="col-4">
                <a class="btn-symbolic-govco d-flex">
                </a>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-md-6 form-group select-govco">
                    <label for="tipoPersona" class="form-group-govco">Tipo persona *</label>
                  <app-dropdownlist id="tipoPersona" ngDefaultControl (change)="setValidator()" formControlName="tipoPersona" placeholder="Seleccione"
                                    [items]="listaTipoPersona">
                  </app-dropdownlist>
                </div>
                <div class="col-md-6 form-group">
                    <label for="tipo_documento" class="form-group-govco">Tipo de documento *</label>
                    <app-dropdownlist id="tipo_documento" ngDefaultControl (change)="setValidator()" formControlName="tipoDocumento" placeholder="Seleccione"
                        [items]="listaTipoDocumento">
                    </app-dropdownlist>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group select-govco">
                    <label for="numero_documento" class="form-group-govco">Número documento *</label>
                    <input id="numero_documento" class="form-control input-govco" formControlName="numeroDocumento"
                        placeholder="Ej: 1 0 2 0 3 9 0 4 9" />
                    <div *ngIf="seleccionForm?.value?.tipoPersona.value == 'EM'" class="empty-validation ">Sin dígito de verificación</div>
                </div>
                <div class="col-md-6 form-group">
                    <label for="correo" class="form-group-govco">Correo electrónico *</label>
                    <input id="correo" class="form-control input-govco" formControlName="correo"
                        placeholder="Ej: correo@mail.com" />
                </div>
            </div>
            <div class="row mt-3">
                <div class=" col-md-12 registro-consulta-footer">
                    <a class="btn btn-round btn-high" (click)="continuar()">CONTINUAR</a>
                </div>
            </div>
        </div>
    </div>
</div>
