<div class="row">
    <div class="col-12 pb-3" >
        <app-notifications [typeMessage]="'warning'" [show]="true" [message]="messages.warning_solicitud_soportada"
            [title]="'Importante'"></app-notifications>
    </div>
</div>
<div [formGroup]="seleccionForm" appInputValidator >
    <div class="card govco-card col-md-12">
        <div class="card-header-govco pt-0">
            <h3 class="title-section">Finaliza adjuntando documentos</h3>
            <label class="form-group-govco">Selecciona una opción</label>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-6 pl-0 m-auto">
                    <h3 class="title-section">¿Adjuntas un documento?</h3>
                </div>
                <div class="col-6 text-left">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group m-0">
                                <label class="radiobutton-govco d-inline">
                                    <input type="radio" id="si" value="si" formControlName="opcion" />
                                    <span class="span_normal">Si</span>
                                    <div class="radiobutton-govco__indicator"></div>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group m-0">
                                <label class="radiobutton-govco d-inline">
                                    <input type="radio" id="no" value="no" formControlName="opcion" (change)="setValidator()"/>
                                    <span class="span_normal">No</span>
                                    <div class="radiobutton-govco__indicator"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="seleccionForm.value.opcion == 'no'">
                <label>Por favor, explique brevemente los motivos por los cuales no anexa soportes a la presente
                    solicitud. Mínimo 20 caracteres.</label>
                <br>
                <div class="row col-md-12 pr-0">
                    <div class="textarea-govco col-md-12 p-0">
                        <textarea [ngClass]="{ 'is-invalid': submitted && f.observacion.errors }"  class="form-control" rows="50" formControlName="observacion" minlength="0" placeholder="Descripción" id="textarea-example"
                            maxlength="500"></textarea>
                      <div *ngIf="submitted && f.observacion.errors" class="invalid-feedback">
                        <div *ngIf="f.observacion.errors.required">La descripcion de los motivos es requerida</div>
                        <div *ngIf="f.observacion.errors.minLength">Minimo 150 caracteres</div>
                      </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row card govco-card " *ngIf="seleccionForm.value.opcion == 'si'">

              <div class="my-5 row">
                <div class="col-md-4">

                  <h3 class="mb-4">*Seleccione los Archivos a cargar, pueden ser maximo 5</h3>
                  <p>Extenciones permitidas:jpg, jpeg, png, tiff, doc, docx, pdf, xls, xlsx, ppt, pptx, mp3, wma, mp4, avi, rar, zip,
                    txt</p>
                  <input type="file" data-max-size="3064" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" formControlName="adjuntos" required (click)="mensajeOut()"
                    accept="'image/png', 'image/jpg', 'image/jpeg', 'image/gif', 'image/tiff', 'image/gif',
                    'application/vnd.rar', 'application/zip', 'application/msword',
                    'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                    'application/pdf', 'application/vnd.ms-excel',
                    'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet','application/vnd.ms-powerpoint',
                    'application/vnd.openxmlformats-officedocument.presentationml.presentation', 'text/plain'"
                  />
                  <p *ngIf="maxfileerror" class="alert-warning">Maximo 3MB por archivo</p>
                </div>

                <div class="col-md-6" style="margin-bottom: 40px">
                  <p>Archivos: {{ uploader?.queue?.length }}</p>

                  <table class="table">
                    <thead>
                    <tr>
                      <th width="50%">Nombre</th>
                      <th>Tamaño maximo 3M </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                      <td><strong>{{ item?.file?.name }}</strong></td>
                      <td *ngIf="uploader" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    </tr>
                    </tbody>
                  </table>
                  <div>
                    <button type="button" class="btn btn-danger btn-s"
                            (click)="uploader.clearQueue();sessionRemove();" [disabled]="!uploader.queue.length">
                             Borrar Todos
                    </button>
                  </div>

                </div>

              </div>
            </div>

            <br>
            <div class="row">
                <div class=" col-md-12 registro-consulta-footer">
                    <a class="btn btn-round btn-middle wb-150"
                        (click)="accion_anterior()">ANTERIOR</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-round btn-high" (click)="continuar()">CONTINUAR</a>
                </div>
            </div>
        </div>
    </div>
</div>
