<div [formGroup]="seleccionForm" appInputValidator [validate]="invalidForm" [ngClass]="{'invalid-form' : invalidForm}">
    <div class="govco-card">
        <div class="conducta-alerta">
            <div class="card-header-govco pt-0">
                <h3 class="title-section">Conducta de alerta</h3>
                <label class="form-group-govco">Puede seleccionar máximo 4:</label>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" *ngFor="let opcion of listaOpcionAlerta;let i=index;">
                            <div class="col-md-12 my-1"  (mouseover)="changeDescription(opcion)">
<div class="custom-control custom-checkbox border-bottom pl-3">
<input id="{{ opcion.value }}" type="checkbox"  value="{{opcion.value}}"  (change)="onCheckboxChange($event)"
       class="custom-control-input"
       formControlName="opcionTipo" />
<label class="custom-control-label pl-2"  for="{{ opcion.value }}">{{opcion.text}}</label>
</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="featured-text-govco">
                            <div class="card-header pl-1">
                                <label class="form-group-govco">Descripción</label>
                            </div>
                            <div class="card-body pt-0 pl-2 pr-2">
                                <div class="col-12 pl-1 pr-1">
                                    <label class="form-group-govco">
                                      {{descripcion}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="relatar">
            <div class="card-header-govco pt-0">
                <h3 class="title-section">Relate de manera concreta los hechos que lo motivaron a realizar la denuncia
                    en 150 caracteres mínimo.</h3>
            </div>
            <div class="card-body">
                <div class="row col-md-12">
                    <div class="textarea-govco col-md-12">
                        <textarea  [ngClass]="{ 'is-invalid': submitted && f.denuncia.errors }" class="form-control" ngDefaultControl rows="50" placeholder="Descripción" minlength="150" maxlength="500" formControlName="denuncia" ></textarea>
                      <div *ngIf="submitted && f.denuncia.errors" class="invalid-feedback">
                        <div *ngIf="f.denuncia.errors.required">La descripcion de los hechos es requerida</div>
                        <div *ngIf="f.denuncia.errors.minLength">Minimo 150 caracteres</div>
                      </div>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class=" col-md-12 registro-consulta-footer">
                      <a class="btn btn-round btn-middle"
                         (click)="limpiar()">Limpiar</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-round btn-middle wb-150"
                            (click)="accion_anterior()">ANTERIOR</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-round btn-high wb-150" (click)="accion_continuar()">CONTINUAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
